/* src/styles/App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 10px;
  background: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
}